<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body onload="deleteA()">
<div class="main">
    <h1>Booking table example</h1>
    <div class="container-book">
        <div class="choose" id="choose">
            <%users.forEach(users=>{%>
            <div class="first">
                <div class="<%=users.class%>" onclick="change(<%=users.id%>)" id="class" ></div>
                <a href="/change/<%=users.id%>" class="butt">Book this one</a>
            </div>
            <%})
            %>
        </div>
    </div>
</div>
</body>
<style>
    body{
        padding:0;
        margin: 0;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container-book{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;
    }
    .userForm{
        font-size: 32px;
        font-weight: 500;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .userForm form {
        border-radius: 10px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 40px 40px 35px;
        margin: 40px 40px 20px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
    }
    .userForm form input{

        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        margin: 15px 15px 5px;
    }
    .userForm form p{
        font-weight: 400;
        font-size:32px;
    }
    .userForm form button{
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
    }
    .userForm form button:hover{
        background-color: gray;
        color: white;
    }
    .seat{
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        background-color:blue;
        height: 32px;
        width: 32px;
    }
    .seat:hover{
        background-color: #f3f3f3;
    }
    .selected{
        background-color: green;
    }
    .selected:hover{
        background-color: darkgreen;
    }
    .sold{
        background-color: black;
    }
    .choose{
        display: flex;
        flex-direction: column;
        height: 320px;
        width: 560px;
        background-image: url("../ttable.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);
        margin-left: 5px;
        background-color: white;
    }
    .container-book{
        background-color: #009879;
        background-repeat: no-repeat;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .first{
        display: flex;
        flex-direction:row;
        margin-top: 5px;
    }
</style>
<script>
    let isTouched=0;
    function deleteA(){
        let seats=document.getElementsByClassName('seat');
        let arr=Array.from(seats);
        let seat;
        let butt=document.getElementsByClassName('butt')
        let arr1=Array.from(butt);
        let but;
        for(let i=0;i<arr.length;i++){
                seat=arr[i];
                but=arr1[i]
           if(seat.classList.contains('sold')){
               but.remove();
           }
        }
        }

    function change(id) {
        let seats=document.getElementsByClassName('seat');
        let arr=Array.from(seats);
        let seat;
        for(let i=0;i<arr.length;i++){
            if(i===id){
                seat=arr[i];
            }
        }
        if (isTouched === 0 && !seat.classList.contains('sold')) {
            seat.classList.add('selected')
            isTouched=1;
        }else{
            seat.classList.remove('selected');
            isTouched=0;
        }
    }
</script>
</html>